
body{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    background-color: cadetblue;
    
}

.askBtn{
    display: flex;
    width: 100px;
    height: 50px;
    padding: 5px;
}
.container{
    display: flex;
    flex-flow: row wrap;    
    flex-grow: 1;
    flex-shrink: 1;
    background-color: aliceblue;    
    width: 432px; 
}

.innerDiv{    
    background-color: white;
    height: 25px;
    width: 25px;
    border: 1px solid;    
}

.paintBlack {
    background-color: black;
}