* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #360033;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    color: white;
}

.askBtn {
    display: flex;
    width: 140px;
    height: 40px;
    padding: 10px;
    margin: 10px 0 15px 0;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: aliceblue;
    width: 960px;
}

.innerDiv {
    background-color: white;
    border: 1px solid;
}

.paintBlack {
    background-color: black;
}